*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    margin: 0%;
    background: black;
    font-size: auto;

}
.title_name{
    color: #ffffff;
    font-family: 'Lucida Calligraphy', 'Lucida', serif;
    font-size: 22px;
    margin-left: 1%;
    display: inline-block;
}
.menu{
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1.5%;
}
.texto{
    color: #ffffff;
    fill: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.menu:hover {
    transform: translateY(-2px); /* Levantar el texto al pasar el cursor */
}
.logo{
    float: left;
    margin-left: 2%;
    max-width: 4%;
    height: auto;
    width: auto;
}
.avatar{
    background: white;
    border: 3px solid #04547f;
    border-radius: 50%;
    min-height: 5%;
    max-height: 10%;
    height: 20%;
    width: 40%;
    margin-top: -30%;
    cursor: pointer;
}
.card{
    float: left;
    width: 12%;
    height: 10%;
    margin: 1%;
    padding: 1%;
    color: #04547f;
    cursor: pointer;
    margin-left: 1.4%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 20px 0 rgba(77, 130, 141, 0.5);
    background: linear-gradient(rgba(229, 231, 235, 0.714), rgba(252, 252, 255, 0.709));
}
.subtitle{
    text-align: center;
    float: center;
    margin-top: 10%;
    color: rgba(255, 255, 255, 0.851);
}
.lateral_list{
    background: #04547f;
    font-family:'Arial';
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.lateral_items{
    display: flex;
    margin-top: 1%;
    margin-bottom: 0.5%;
    color: white;
}
.fondo{
    background-image: url(../images/Justicia-digital.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-footer{
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(rgba(229, 231, 235, 0.714), rgba(252, 252, 255, 0.709));
    margin-top: 40px;
}

.logo-footer{
    margin-left: 47%;
    justify-content: center;
    align-items: center;
    width: 80px;
}
.redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.icon-footer{
    font-size: 20px;
    margin: 20px;
    background: rgb(99, 97, 97);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}
.icon-footer:hover{
    background: #04547f;
    width: 25px;
    height: 25px;
    transition: 2seg;
    color: #ffffff;
}